<h1>Your Cart</h1>

<% if @cart_items.any? %>
  <ul>
    <% @cart_items.each do |cart_item| %>
      <li>
        <%= cart_item.product.name %> - $<%= cart_item.price %>
        <%= link_to 'Remove', cart_item, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
  </ul>
  <p>Total: $<%= @cart_items.sum(&:price) %></p>
<% else %>
  <p>Your cart is empty.</p>
<% end %>
